; インタフェースボードで使用するポートアドレス
;
; PCIインタフェースでは PCI、PCカードインタフェースでは PC、
; ISA/Cバスインタフェースでは直接 I/O アドレスを記述します。
;   ISAバス I/Fボードの工場出荷時は 320 です。
;   Cバス I/Fボードの工場出荷時は E0 です。
;
;	EX.	PORT ADDRESS	PCI
;		PORT ADDRESS	PC
;		PORT ADDRESS	320

;PORT ADDRESS		E0
PORT ADDRESS		PC


; ＣＰＵ動作モード
; ＣＰＵの動作モードを(1,2,3,4)より選択します。
; Ｈ８Ｓの場合は動作モード 4 , 5 が使用可能ですが、モード 4 の時は 4
; モード 5 の時は 3 を指定してください。
;	1:8ビット	1Mバイト
;	2:16ビット	1Mバイト
;	3:8ビット	16Mバイト
;	4:16ビット	16Mバイト
CPU MODE		3

; ROMのバスサイズ指定
; エミュレーションROMのバスサイズを指定してください。
; 　16bitの場合はこのフィールドに 16を指定します。
; 　8bitの場合はこのフィールドに 8を指定します。
; 16bitバスの場合、ROM1,ROM2の２つのグループのROMが使用できます。
; 8bitバスの場合、ROM1,ROM2の２ つのグループの4つのROMが使用できます。

BUS SIZE		8

; CPUコアの選択
;   300H:	H8/3001/3002/3003/3048‥
;   2600	H8S/2655‥
;   2000	H8S/2245‥
;   3006	H8/3006   (SYSCRのアドレスが0x(0F)EE012のH8/300H)
;CPU CORE		300H

;
; H8S2631,2,3、H8S2621,2,3、H8S2233,5,7、H8S2223,5,7
; の場合に fffffde5 を指定してください。
; (CPU COREは2000又は2600を指定してください。)
;SYSCR ADDRESS		fffffde5


; モニタのコードアドレス
; エミュレーションＲＯＭの範囲内で8/16ビットは100H境界、
; 32ビットは200H境界を指定
; 指定できるエミュレーションROM空間はいかの通りです。
;	8bitバス時は、LROM1 ADDRESS で指定した範囲
;	16bitバス時は、ROM1 ADDRESS で指定した範囲

MONITOR CODE ADDRESS	18000


; モニタの使用するスタックの初期値
; 実際にこの領域が使用されるのは、一番最初にユーザプログラムを
; 実行させる時だけです。
MONITOR INIT. STACK	FFFEFF


; ソフトウェアブレーク命令の設定（TRAPA #n  n:0-3)
;SOFT BP(TRAPA #n)	0


; BUS SIZEを16に指定した時、ユーザが設定するバス幅コントロールレジスタ(ABWCR)
; と同じ値を設定して下さい。このデータはリアルタイムトレースの表示及びハード
; ウエアブレークの時にのみ使用されます。
; BUS SIZE 8を設定した場合には無効になります。
;ABWCR			8



; ＮＭＩ入出力の極性（正論理=1，負論理=0）
; NMI IN/OUT プローブの極性を指定します。
NMIP			0


; ユーザーNMI割り込みのエントリーアドレス（未使用時は FFFFFFFF を指定）
;NMI ADDRESS		FFFFFFFF


; ROM VCC
; ROMの電源電圧を指定します。
;   5V ROMでは 5 を指定します。
;   3Vおよび3.3V ROMでは 3 を指定します。

;ROM VCC		3
ROM VCC			5


; ＲＯＭ１タイプ
; ROM1の種類(メモリ容量)を指定します。
;   8bitバス ROM
;	2764	...	64Kbit	(model10/20/30/31)
;	27128	...	128Kbit	(model10/20/30/31)
;	27256	...	256Kbit	(model10/20/30/31)
;	27512	...	512Kbit	(model10/20/30/31)
;	108	...	1Mbit	(model10/20/30/31)
;	208	...	2Mbit	(model10/20/30/31)
;	408	...	4Mbit	(model20/30/31)
;	808	...	8Mbit	(model31)
;   16bitバス ROM
;	116	...	1Mbit	(model10/20/30/31)
;	216	...	2Mbit	(model10/20/30/31)
;	416	...	4Mbit	(model10/20/30/31)
;	816	...	8Mbit	(model30/31)
;	1616	...	16Mbit	(model31)

;ROM1 TYPE		27256
ROM1 TYPE		108

; ＲＯＭ１の開始アドレス，終了アドレスとオフセットアドレスを指定します
; 終了アドレスおよびオフセットアドレスは省略可能です。
; 終了アドレスおよびオフセットアドレスの詳細はハードウェアマニュアルを参照
; 16/32bitバスでは "ROM1 ADDRESS" にアドレスを設定してください。
;  8bitバスでは "LROM1 ADDRESS","LROM2 ADDRESS" に設定してください。
; 未使用ＲＯＭはこの項目はコメントにしてください。
; 
LROM1 ADDRESS		0000000,003ffff
;ROM1 ADDRESS		0000000

; ＲＯＭ２タイプ
; ROM2の種類(メモリ容量)を指定します。
; このフィールドは、32bitバスの場合は意味を持ちません。
; 8bit/16bitバス時に、ROM2コネクタも使用する場合に設定してください。
; 設定内容は、ROM1 タイプと同様です。

ROM2 TYPE		208

; ＲＯＭ２の開始アドレス，終了アドレスとオフセットアドレスを指定します
; 終了アドレスおよびオフセットアドレスは省略可能です。
; 終了アドレスおよびオフセットアドレスの詳細はハードウェアマニュアルを参照
; このフィールドは、ROM 8/16bitの場合だけ有効です。
; 32bitの場合や、ROM2を使用しない場合はこのフィールドはコメントに
; してください。 
; 16bitバスでは "ROM2 ADDRESS" に設定に設定してください。
;  8bitバスでは "LROM2 ADDRESS","UROM2 ADDRESS" に設定してください。
; 未使用ＲＯＭはこの項目はコメントにしてください。

;ROM2 ADDRESS		100000


;
; リアルタイムトレース時のアドレス推定に使用するデータです。
;                       マスク，候補１，候補２
;TRACE ADDRESS MASK	000000,004000,008000
;TRACE ADDRESS MASK	3fff,5000000



; リアルタイムトレース・ハードウェアブレーク用サンプルクロックの設定
; サンプルクロックの種類を指定します。詳細は、ハードウェアマニュアルを
; 参照してください。
; 強制起動モード時に、ROM の /OE 信号をサンプルクロックに使用する場合は
; このフィールドをコメントにします。
;TRACE/BREAK EXT. CLK	EXT
;		 	 43210
TRACE/BREAK EXT. CLK	@xxxx1



; 外部ステータス信号の定義
; マニュアルのサンプルには記述されていませんが、ハードウエアブレク
; を使用する場合には TRACE MEMORY WRITE(MW) の記述をするようにして
; 下さい。記述の方法は TRACE MEMORY READ (MR) の反対の論理を指定して
; 下さい。
;   				 5432109876543210
;  TRACE MEMORY READ (MR)	@xxxxxxxxxxxxxx0x
;  TRACE MEMORY WRITE(MW)	@xxxxxxxxxxxxxx1x
;
; TRACE MEMORY WRITEH(MW)/TRACE MEMORY WRITEL(MW)は設定しなくても
; かまいません。


;			 5432109876543210
TRACE MEMORY READ (MR)	@xxxxxxxxxxxxx0xx
TRACE MEMORY WRITE(MW)	@xxxxxxxxxxxxx1xx
;TRACE MEMORY WRITEH(MW)	@xxxxxxxxxxxxxxxx
;TRACE MEMORY WRITEL(MW)	@xxxxxxxxxxxxxxxx
;BUS LOW ENABLE		@xxxxxxxxxxxxxxxx
;BUS HIGH ENABLE	@xxxxxxxxxxx0xxxx
;ADDRESS A0		@xxxxxxxxxxx0xxxx
SIGNAL CS0		@xxxxxxxxxx0xxxxx,00000000
SIGNAL CS1		@xxxxxxxxx0xxxxxx,00200000
SIGNAL CS2		@xxxxxxxx0xxxxxxx,00400000,004fffff

; リセットＰＣアドレス
;RESET PC	<初期PC>
; このフィールドは通常は、コメントアウトされたままにしてください。通常は、エミ
; ュレーションROMおよびプローブのスワップ機能によってモニタが起動できるように
; 初期PCが与えれれます。何等かの理由で、初期PCを修正する必要が有る場合に設定し
; てください。
; また、<初期PC>に FFFFFF をセットすると、起動時および RESET コマンド実行時に
; リセットベクタへの書き込みおよびリセットパルスの出力を行いません。この設定は
; リセット動作が周辺I/Oと同期してリセットしなければならないターゲットなどで使用
; してください。ただし、この設定では、リセット時に、モニタの先頭に自動的にジャ
; ンプしないため、ターゲットモニタなどでモニタ先頭へジャンプするなどの操作が必
; 要です。
; またモニタプログラム(MONH83H.ASM)の変更箇所５を設定する必要があります。
;RESET PC 	0
