; ポートアドレス
PORT ADDRESS	PCSS:260

; モニタのシャドウ化スイッチ
;	LOW = シャドウ ON ,モニタ領域最下位1バイト
;	HIGH= シャドウ ON ,モニタ領域最上位4バイト
;	OFF = シャドウ OFF,モニタ領域128バイト
SHADOW			OFF

; モニタの使用するスタックの初期値（ユーザーＲＡＭ領域を指定(16バイト使用)）
MONITOR INIT. STACK	F000

;
; バンクモード指定 (OFF/KC80/64180/64180R/64180S)
;
;;BANK MODE		64180

; ＮＭＩ入出力の極性（正論理=1，負論理=0）
NMIP			1

; ユーザーのＮＭＩエントリーアドレス（未使用時は FFFF を指定）
NMI ADDRESS		FFFF


; ソフトウェアブレーク命令の設定（RST 8h-38h or 1-7)
SOFT BP(RST?)		30


; ＲＯＭ１タイプの指定
; (2764,27128,27256,27512,27101,27201,27401,271024,272048,274096)より選択
ROM1 TYPE		27256

; ＲＯＭアドレスの指定（開始アドレス[，終了アドレス])
; 未使用ＲＯＭはコメントにしてください
LROM1 ADDRESS		00000
;UROM1 ADDRESS		08000


; ＲＯＭ２タイプの指定
; (2764,27128,27256,27512,27101,27201,27401,271024,272048,274096,NONE)より選択
;ROM2 TYPE		27256

; ＲＯＭアドレスの指定（開始アドレス[，終了アドレス])
; 未使用ＲＯＭはコメントにしてください
;LROM2 ADDRESS		10000
;UROM2 ADDRESS		18000

;TRACE ADDRESS MASK	00000,E0000,E2000,E4000,E6000,E8000,EA000,EC000,01000
;TRACE ADDRESS MASK	00000,F0000,F1000,F2000,F3000,F4000,F5000,F6000,F7000,F8000,F9000,FA000,FB000,FC000,01000

; 外部ステータス信号の定義
;			 5432109876543210
;TRACE MEMORY READ (MR)	@xxxxxxxx0x0xxxxx
;TRACE MEMORY WRITE(MW)	@xxxxxxxx0xx0xxxx
;TRACE I/O READ    (IR)	@xxxxxxxxx00xxxxx
;TRACE I/O WRITE   (IW)	@xxxxxxxxx0x0xxxx
;TRACE INT ACK.  (INTA)	@xxxxxxxxx0xx0xxx
;TRACE MEMORY R/W (MEM)	@xxxxxxxx0xxxxxxx
;TRACE I/O R/W     (IO)	@xxxxxxxxx0xxxxxx
